<header class="container-fluid bg-danger text-white p-3 bg1 ">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="text-white text-decoration-none p-3 h1" href="/api/registros/">
                    RISK Online
                </a>
            </div>
            <div class="col">
                {{> navbar}}
            </div>

        </div>

    </div>
</header>