<ul class="list-unstyled">
    <li>
        <a class="text-white text-decoration-none p-2 h4" href="/api/registros/">Sobre el torneo</a>
        <a class="text-white text-decoration-none p-2 h4" href="/api/registros/todos">Competidores</a>
        <a class="text-white text-decoration-none p-2 h4" href="/api/registros/ingresar">Inscribirme</a>
    </li>
</ul>

