

<div class="container h-100 p-7">
    
    <h1 class="p-3 text-center">Torneos de RISK Online </h1>
    <h5>Te damos la bienvenida a la plataforma de organización de torneos de RISK Online. <br> 
    Para participar, completá tus datos en la pestaña "Inscribirme". Una vez inscripto, 
    recibirás un email de confirmación con la información del torneo.
    Podrás ver a los inscriptos clickeando en la pestaña "Competidores".</h5>
    <h5>
        <hr>
        <strong>Fecha del torneo:</strong> a confirmar <hr>
        <strong>Límite de participantes:</strong> 25 <hr>
        <strong>Premio:</strong> $1500 por cada participante <hr>
        <strong>Costo de admisión:</strong> $1800 <hr>
    </h5>
    
</div>
