<div class="container bg-light">
    <div class="row data-masonry='true'">
            {{#each data}}
            <div class="col-6 p-4 mt-4">
                <p class="h4 text-left"> N°{{id}} - {{nombre}} {{apellido}} | {{localidad}} <hr></p>
            </div>
            {{/each}}
    </div>
</div>